* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  padding: 20px;
}

/* GRID */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: auto;
  height: 600px;
  background: linear-gradient(to right,
      #2e2e2e,
      #f7f7f5,
      #e5d8c4,
      #506078,
      #b46e4c);
  padding: 10px;
  /*margin: 20px;*/
}

/* CARD */
.card {
  perspective: 1000px;
  height: 450px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* FRONT & BACK */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* FRONT */
.card-front img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.card-front h3 {
  text-align: center;
  padding: 10px;
}

/* BACK */
.card-back {
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}







body {
  background: #f4f4f4;
  padding: 20px;
}

/* GRID */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: auto;
  height: 600px;
  background: linear-gradient(to right,
      #2e2e2e,
      #f7f7f5,
      #e5d8c4,
      #506078,
      #b46e4c);
  padding: 10px;
  /*margin: 20px;*/
}

/* CARD */
.card {
  perspective: 1000px;
  height: 450px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* FRONT & BACK */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* FRONT */
.card-front img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.card-front h3 {
  text-align: center;
  padding: 10px;
}

/* BACK */
.card-back {
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
